<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youtubebg">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <application

        android:allowBackup="true"
        android:icon="@drawable/youtube"
        android:label="@string/app_name"
        android:roundIcon="@drawable/youtube"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Search_Video.Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.Playlists">
        </activity>
        <activity android:name=".Views.New_Playlist">
        </activity>
        <activity android:name=".Views.Play_Playlist">
        </activity>
        <activity android:name=".Views.Delete_Songs">
        </activity>
        <activity android:name=".Views.Delete_Playlist">
        </activity>
        <activity android:name=".Views.YoutubePlayerr">

            <intent-filter>
                <action android:name="com.iphonik.chameleon.AppPreferenceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".Service.Floating_Window_Service">

        </service>
        <service android:name=".Service.OnClearFromRecentService">

        </service>
        <receiver android:name=".Service.NotificationAction_Service">

        </receiver>


    </application>

</manifest>